.footer {
  @include flex(row, space-between, center);
  @include centerAuto;
  &-text {
    flex: 0 0 40rem;
    @include flex(column, center, space-between);
    p {
      line-height: 1.5;
      padding-top: 1rem;
    }
    h4 {
      margin-top: 2rem;
      line-height: 1.5;
    }
    &-apps {
      margin-top: 1rem;
      & > *:not(:last-child) {
        margin-right: 2rem;
      }
      img {
        width: 20%;
      }
    }
  }

  &-links {
    flex: 0.9;
    svg {
      display: none;
    }
    &-nav {
      @include flex(row, space-evenly, flex-start);
      flex-wrap: wrap;
      &__list {
        flex: 1 1 15rem;
        &-item {
          color: $color-grey-dark-1;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.copyright {
  text-align: center;
  padding: 4rem;
}
