.section-header {
  min-height: 15vh;
  @include flex(row, center, center);
  position: relative;
}

.section-hero {
  min-height: 90vh;
  width: 100%;
}

.section-features {
  min-height: 40vh;
  position: relative;
  top: -40vh;
}

.section-tours {
  min-height: 100vh;
}

.tour {
  @include flex(column, center, center);

  &-heading {
    min-height: 30vh;
    top: -10vh;
    position: relative;
    @include flex(column, space-evenly, center);
    height: 30vh;
    max-width: 50rem;
    text-align: center;
  }
  &-packages {
    @include flex(row, center, center);
    flex-wrap: wrap;
    max-width: 90%;
    & > *:not(:last-child) {
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.section-subscription {
  min-height: 60vh;
  margin-top: 10rem;
}

.section-footer {
  background: #f8e1db;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding: 4rem;
  min-height: 60vh;
  margin-top: 8rem;
}
